@use "tools";
@use "../theme.scss";

#dock-station {
  background: transparent;
}

#dock-station-box {
  background: theme.$base;
  color: theme.$text;
  border-radius: 8px;
  font-size: 1.5rem;
  transition: 0.6s;
  padding: 5px 10px;
  border: 1px theme.$border-color solid;
}

#dock-station-btn {
  background: transparent;
  color: theme.$text;
  border: transparent;
  box-shadow: none;
  text-shadow: none;
  outline: transparent;
  min-width: 48px;
  margin: 1px -4px;
  padding: 3px 8px;

  &:hover {
    background: theme.$surface0;
  }

  &:active {
    margin-bottom: -8px;
  }
}

.dock-station-vertical {
  #dock-station-box {
    padding: 10px 5px;
  }

  #dock-station-btn {
    margin: -4px 1px;
    padding: 8px 3px;
  }
}
