#desktop_clock 
  padding: 0px 10px 0px 10px
  margin: 0px
  background: transparent

#desktop_clock :nth-child(2) 
  padding: 0px 100px 80px 80px
  font-weight: bolder
  background: transparent
  box-shadow: none

#desktop_clock :nth-child(1) 
  margin: 0px
  font-size: 80px
  box-shadow: none
  font-weight: bolder
  background: transparent

