#activate-linux {
  background: none;
  min-width: 600px;
  min-height: 600px;
  color: rgba(255, 255, 255, 0.7);
}

#activate-linux-title {
  text-shadow: 1px 2px 2px black;
  font-size: 25px;
  font-weight: normal;
  transition: 0.2s;
}

#activate-linux-desc {
  text-shadow: 1px 2px 2px black;
  font-size: 19px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.2s;
}

#battery-alert {
  background: none;
  border-radius: 30px;
}
#battery-alert .battery-alert-popup-box-show,
#battery-alert .battery-alert-popup-box-hide {
  transition: 0.4s;
}
#battery-alert .battery-alert-popup-box-show {
  margin: 90px 0px 0px 0px;
  opacity: 1;
}
#battery-alert .battery-alert-popup-box-hide {
  margin: 90px 0px 0px -200px;
  box-shadow: none;
  opacity: 0;
}

#battery-alert-popup-box {
  border: solid 0.2px white;
  border-radius: 90px 0px 0px 90px;
  margin: 90px 0px 0px 0px;
  min-width: 200px;
  background: #1e1e2e;
  box-shadow: 0px 0px 3px 0px #000;
}

#battery-alert-progress-bar {
  color: green;
  border: 3px solid yellowgreen;
  transition: 0.4s;
}
#battery-alert-progress-bar #battery-alert-progress-bar-icon {
  font-size: 32px;
  color: yellowgreen;
}

#battery-alert-progress-bar.battery-alert-progress-bar-low {
  color: #a10000;
  border: 3px solid red;
}
#battery-alert-progress-bar.battery-alert-progress-bar-low #battery-alert-progress-bar-icon {
  color: red;
  font-size: 34px;
}

#battery-alert-progress-bar.battery-alert-progress-bar-medium {
  color: #ffc857;
  border: 3px solid yellow;
}
#battery-alert-progress-bar.battery-alert-progress-bar-medium #battery-alert-progress-bar-icon {
  color: yellow;
  font-size: 34px;
}

#battery-alert-progress-bar.battery-alert-progress-bar-high {
  color: gray;
  border: 3px solid white;
  transition: 0.4s;
}
#battery-alert-progress-bar.battery-alert-progress-bar-high #battery-alert-progress-bar-icon {
  color: white;
}

#screen-corners {
  background: transparent;
  box-shadow: inset 0px 0px 0px 1px black;
}

#corner {
  background: black;
  border-radius: 0px;
  transition: 0.8s;
}

#corner-container {
  min-width: 0px;
  min-height: 0px;
}

#desktop_clock {
  padding: 0px 10px 0px 10px;
  margin: 0px;
  background: transparent;
}

#desktop_clock :nth-child(2) {
  padding: 0px 100px 80px 80px;
  font-weight: bolder;
  background: transparent;
  box-shadow: none;
}

#desktop_clock :nth-child(1) {
  margin: 0px;
  font-size: 30px;
  box-shadow: none;
  font-weight: bolder;
  background: transparent;
}

#dock-station {
  border-radius: 0px;
  box-shadow: none;
  border: 0px;
}

.dock-station-show {
  opacity: 1;
  margin: 0px;
}

.dock-station-hide {
  opacity: 1;
  margin: -300px;
}

#language-preview-box {
  background: #1e1e2f;
  padding: 15px;
  border: 0.5px white solid;
}

.language-preview-full-is-active {
  margin-bottom: 10px;
}

.language-preview-full:nth-child(1) {
  font-size: 10px;
  color: #aaaaaa;
}

.language-preview-full-is-active {
  font-weight: bold;
  color: #ffffff;
}

#language-preview :nth-child(1) {
  font-size: 30px;
  border-radius: 20px;
  min-width: 150px;
  min-height: 120px;
}

#language-preview {
  background: transparent;
}

#language-preview :nth-child(2) {
  border-radius: 20px;
}

.language-preview-is-active {
  font-size: 30px;
  transition: 0.5s;
  background: rgba(200, 200, 255, 0.2);
  min-width: 150px;
  min-height: 120px;
  border-radius: 10px;
  font-weight: bold;
  color: #ffffff;
}

* {
  margin: 0px;
  padding: 0px;
  color: #fff;
  font-size: 16px;
  text-shadow: 0px 0px 5px #000;
}

#statusbar {
  box-shadow: none;
}

.statusbar-modules-horizontal {
  padding: 0px 20px;
}

.statusbar-modules-vertical {
  padding: 20px 0px;
}

#bar-modules-start, #bar-modules-center, #bar-modules-end {
  border-radius: 15px;
  background-color: #1e1e2e;
  box-shadow: 0px 0px 3px 0px #000;
  border: solid 0.2px white;
  box-shadow: none;
}

#statusbar-workspaces-container {
  border-radius: 0px;
  transition: 0.4s;
}

.statusbar-workspaces-container-horizontal {
  padding: 0px 10px;
}

.statusbar-workspaces-container-vertical {
  padding: 0px 0px;
}

#statusbar-workspaces-container button {
  color: #fff;
  border: none;
  background: none;
  border-radius: 0px;
  transition: 0.4s;
}
#statusbar-workspaces-container button:hover {
  background: #1e1e2a;
}

#statusbar-workspaces-container button:not(.empty) {
  transition: 0.4s;
  border-bottom: 2px solid #fff;
}

#statusbar-workspaces-container button.active {
  transition: 0.2s;
  border-bottom: 2px solid #fff;
  border-radius: 0px;
  background: #ffffff;
}

#statusbar-workspaces-text button.active :nth-child(1) {
  transition: 0.4s;
  color: #000;
}

#statusbar-workspaces-preview {
  border: 0px;
  margin: 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px white;
}

#statusbar-workspaces-preview-image {
  padding: 0px 30px;
  margin: 0px;
}

#statusbar-windows-title-box {
  background: transparent;
  padding: 0px 5px;
  margin: 0px;
  border-radius: 0px;
  box-shadow: none;
  border: 0px;
  font-weight: bolder;
}

#statusbar-windows-title-box :nth-child(2) {
  padding: 0px 5px;
}

#statusbar-tray-box-container {
  background: #1E1E2E;
  border-radius: 10px;
  border: solid 0.6px white;
}

#statusbar-tray-box-scrolled {
  background: none;
  padding: 5px;
}

#statusbar-tray-box-scrolled :nth-child(1) {
  padding: 3px;
}

#statusbar-tray-box-title {
  font-weight: bold;
  padding: 5px 30px;
}

#statusbar-tray-box-close {
  background: none;
  padding: 5px 10px;
  box-shadow: none;
}
#statusbar-tray-box-close label {
  font-size: 23px;
  color: tomato;
}

#statusbar-systray-item {
  background: none;
  padding: 0px 5px;
}

#statusbar-tray-box {
  padding: 10px;
}

#statusbar-systemtray {
  margin: 0px 10px;
}

#statusbar-tray-button {
  background: transparent;
  margin: 5px 10px;
}

#statusbar-memory-ram {
  border-radius: 0px;
  box-shadow: none;
  border: 0px;
}

#statusbar-memory-ram-button {
  padding: 0px 5px;
  border-radius: 0px;
  box-shadow: none;
  background: transparent;
  border: 0px;
}

#statusbar-clock {
  padding: 0px 5px;
  border-radius: 0px;
  box-shadow: none;
  background: transparent;
  border: 0px;
}

#statusbar-language-button {
  padding: 0px 10px;
  margin: 4px 2px;
  background: #1E1E2E;
}

#statusbar-language-button-language {
  padding: 0px 5px;
}

#cpu-icon,
#ram-icon {
  font-size: 15px;
  margin-right: 4px;
  transition: 0.4s;
}

#cpu-circle,
#ram-circle,
#disk-circle {
  color: #666666;
  border: 3px solid #fff;
  transition: 0.4s;
}

#statusbar-profile-dashboard-popup {
  transition: 0.3s;
  padding: 0px 5px;
  border-radius: 0px;
  box-shadow: none;
  border: 0px;
}

#statusbar-profile-logo-button {
  border-radius: 0px;
  box-shadow: none;
  background: transparent;
  border: 0px;
  margin: 0px 20px;
}
#statusbar-profile-logo-button:hover {
  margin-left: 40px;
  padding-left: 40px;
}

.statusbar-screen-recorder {
  background: #960000;
  border-radius: 50px;
  box-shadow: 0px 0px 1.5px 0px #ccc;
}

.statusbar-screen-recorder.horizontal {
  margin: 0px 15px;
  min-width: 60px;
}
.statusbar-screen-recorder.horizontal:nth-child(2) {
  padding: 0px 7px 0px 7px;
  margin: 0px;
}

.statusbar-screen-recorder.vertical {
  margin: 10px 0px;
}
.statusbar-screen-recorder.vertical:nth-child(2) {
  padding: 0px 7px 10px 7px;
  margin: 5px 0px;
}

#screen-recording-icon {
  margin: 0px 10px;
  margin-right: 17px;
  color: white;
}

#statusbar-screen-recorder-indicator {
  border-radius: 100px;
  border: 0.2px solid black;
  background: red;
  min-width: 32px;
}

#statusbar-screen-recorder-icon {
  margin-left: 7px;
  font-size: 18px;
  color: white;
}

#statusbar-screen-recorder-icon.mig {
  color: white;
}

/*# sourceMappingURL=main.css.map */
