@import url("./styles/status_bar/index.css");
@import url("./styles/activate_linux/index.css");
@import url("./styles/corners/index.css");

#desktop_clock {
  padding: 0px 10px 0px 10px;
  /* margin: 40px 10px 40px 10px; */
  margin: 0;
  background: transparent;
}
#desktop_clock :nth-child(2) {
  padding: 0px 100px 80px 80px;
  /* margin: 40px 10px 40px 10px; */
  font-weight: bolder;
  background: transparent;
  box-shadow: none;
}
#desktop_clock :nth-child(1) {
  margin: 0;
  font-size: 80px;
  box-shadow: none;
  font-weight: bolder;
  background: transparent;
}

#dock-station {
  background: red;
}

.dock-station-show {
  opacity: 1;
  margin: 0;
}

.dock-station-hide {
  opacity: 1;
  margin: -80px;
}
