certifi==2025.8.3
charset-normalizer==3.4.2
click==8.2.1
fabric @ git+https://github.com/Fabric-Development/fabric.git@3ce7523c34f53fda615f8c425ff9de22e1d812cc
idna==3.10
loguru==0.7.3
pillow==11.3.0
psutil==7.0.0
py-spy==0.4.1
pycairo==1.28.0
pydbus==0.6.0
pygobject==3.50.0
pywal==3.3.0
requests==2.32.4
urllib3==2.5.0
