@use "../theme.scss";

@use "workspaces";
@use "workspaces_previoew";
@use "custom";
@use "networkspeed";
@use "clock";
@use "system-tray";
@use "language";
@use "battery";
@use "window_title";

#status-bar {
  background: theme.$bg-primary;
  color: theme.$text-primary;
}
