@use "../theme.scss";
@use "workspaces";
@use "workspaces_previoew";
@use "custom";
@use "networkspeed";
@use "time";
@use "system-tray";

#status-bar {
  background: theme.$bg-primary;
  color: theme.$text-primary;
}
