@use "../theme.scss";

#sb_battery {
  background: theme.$base;
  border-radius: 8px;
  box-shadow: 0px 0px 7px 0px theme.$shadow-color;
}

.sb_battery-horizontal {
  padding: 0 10px;
}
.sb_battery-vertical {
  padding: 10px 0;
}
