@use "../theme.scss";

#sb_clock {
  padding: 3px 5px;
  border-radius: 5px;
  box-shadow: none;
  background: theme.$base;
  color: theme.$text;
  border: 0px;
  box-shadow: 0px 0px 7px 0px theme.$shadow-color;
  text-shadow: none;
}
