@use "../theme.scss";

#sb_language-button {
  background: theme.$base;
  border: none;
  color: theme.$text;
  text-shadow: none;
  box-shadow: none;
  margin: 4px;
  box-shadow: 0px 0px 7px 0px theme.$shadow-color;

  &:hover {
    background: theme.$surface0;
  }
}
