@use "../theme.scss";

#sb_network-speed {
  background: theme.$base;
  margin: 4px;
  padding: 7px;
  border-radius: 5px;
}

.sb_network-speed-horizontal {
  padding: 0 10px;
}
.sb_network-speed-vertical {
  padding: 10px 0;
}
