@use "../theme.scss";
#sb_system-tray {
  background: transparent;
}

.sb_system-tray-items {
  background: theme.$base;
  color: theme.$text;
  box-shadow: none;
  border: none;
  &:hover {
    background: theme.$surface0;
  }
}
#sb_system-tray-button {
  background: none;
  color: theme.$text;
  box-shadow: none;
  border: none;
  margin: 4px;
  padding: 4px;
  border-radius: 8px;
  border-radius: 0;
  &:hover {
    background: theme.$surface0;
  }
}
#sb_system-tray-box {
  background: theme.$base;
  color: theme.$text;
  border-radius: 8px;
  border: 1px solid theme.$border-color;
  padding: 10px;
  margin: 10px;
}
#sb_system-tray-header {
  font-size: 1.2rem;
  font-weight: 500;
  color: theme.$text;
  margin-bottom: 10px;
  text-shadow: none;
}

#sb_system-tray-close {
  background: theme.$red;
  color: theme.$base;
  box-shadow: none;
  border: none;
  margin-left: 40px;
  padding: 0px;
  min-width: 24px;
  min-height: 24px;
  border-radius: 100%;
  text-shadow: none;
  &:hover {
    background: theme.$surface0;
    color: theme.$red;
  }
}
