@use "theme";

#day-info-day,
#day-info-time {
  font-size: 1.5rem;
  color: theme.$text;
  text-shadow: 0 3px 0px theme.$shadow-color;
}

#day-info-weekday {
  font-size: 6rem;
  color: theme.$text;
  text-shadow: 0 5px 0px theme.$shadow-color;
  font-family: "anurati";
  letter-spacing: 2rem;
}
