@use "theme";

#ml-filepicker-button {
  background: theme.$surface0;
  color: theme.$btn-text;
  border: 1px solid theme.$border-color;
  border-radius: 5px;
  padding: 8px 16px;
  margin: 10px;
  box-shadow: 0 0 10px 0 theme.$shadow-lg;
}

#ml-filepicker-button:hover {
  background: theme.$base;
}

#ml-filepicker-label {
  color: theme.$text-secondary;
  margin-top: 4px;
}

#ml-filepicker-dialog {
  background: theme.$bg-secondary;
  color: theme.$text-primary;
  border-radius: 12px;
}
