@use "theme";

.Input {
  background: theme.$surface2;
  color: theme.$text;
  border: 1px solid theme.$border-color;
  border-radius: 0.5rem;
  padding: 0.1rem 1.2rem;
  box-shadow: 0px 0px 10px 0px theme.$shadow-lg;
}
