@use "theme";

menu {
  background-color: theme.$base;
  border-radius: 12px;
  padding: 6px;
  border: 1px solid theme.$border-color;
}

menu > menuitem {
  background: transparent;
  padding: 8px 14px;
  margin: 2px 0;
  border-radius: 8px;
  color: #eaeaea;
  font-size: 14px;
}

menu > menuitem:hover {
  background-color: theme.$surface1;
}

menu > menuitem:active {
  background-color: theme.$surface0;
}

menu > menuitem:disabled {
  color: theme.$text-secondary;
}

menu separator {
  margin: 6px 0;
  background-color: theme.$border-color;
}
