@use "theme";

#notification-popup {
  background: transparent;
  color: theme.$text;
  font-size: 1.2rem;
  font-weight: 500;
}

#notification-box {
  transition: 0.4s;
  background: theme.$base;
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 0px theme.$shadow-color;
  border: 1px solid theme.$border-color;
  opacity: 1;

  &.notification-closed {
    margin: -10px;
    padding: 0;
    opacity: 0;
    background: none;
    box-shadow: none;
    border: none;
  }
}

#notification-content {
  padding: 3px 10px;
}
#notification-body {
  padding: 3px 5px;
}

#notification_close-button {
  background: theme.$red;
  color: theme.$base;
  font-weight: bolder;
  box-shadow: none;
  text-shadow: none;
  border: none;
  padding: 0 4.5px;
  margin: 0 20px;
  border-radius: 50%;
}

#notification-content-body {
  padding: 10px 0px;
}

#notification-progress-bar {
  border: solid theme.$blue;
  color: theme.$border-color;
  border-radius: 30px;
}
#notification-progress-bar-box {
  padding: 0 20px;
}
#notification-action-button {
  background: theme.$btn-bg;
  color: theme.$btn-text;
  box-shadow: 0 0 3px 0 theme.$shadow-color;
  border: none;
  font-weight: 400;
  margin: 3px;
  text-shadow: none;
  padding: 3px 10px;
  border-radius: 8px;
  &:hover {
    background: theme.$surface0;
  }
}
