@use "theme";

#screen-popup-menu {
  transition: opacity 200ms ease-in-out;
  padding: 15px 25px 25px 10px;
  background: theme.$base;
  border-radius: 15px;
  border: solid 0.2px theme.$border-color;
}

#screen-popup-menu-item {
  transition: 0.3s;
  background: none;
  border: none;
  box-shadow: none;
  color: theme.$text;
  border: 0.5px solid theme.$base;

  &:hover {
    color: theme.$text;
    border: 0.5px solid theme.$border-color;
    background: theme.$selection-bg;
    border-radius: 20px;
  }

  &.show {
    opacity: 1;
  }
}

.screen-popup-menu-hide {
  transition: 0.4s;
  opacity: 0;
}

.screen-popup-menu-show {
  transition: 0.4s;
  opacity: 1;
}
