@use "theme";

#Switch,
.switch,
.hypr-switch {
  min-width: 1.6rem;
  min-height: 0.6rem;
  border-radius: 1rem;
  border: 0.05rem solid theme.$border-color;
  background-color: theme.$bg-secondary;
  padding: 0.15rem;
  transition:
    background-color 250ms ease,
    border-color 250ms ease;
}

#Switch:hover,
.switch:hover,
.hypr-switch:hover {
  border-color: theme.$border-color;
  background-color: theme.$bg-secondary;
}

#Switch:checked,
.switch:checked,
.hypr-switch:checked {
  background-color: theme.$green;
  border-color: theme.$green;
  transition: background-color 300ms ease-in-out;
}

#Switch slider,
.switch slider,
.hypr-switch slider {
  background-color: theme.$text;
  border-radius: 999px;
  min-width: 1.3rem;
  min-height: 1.3rem;
  margin: 0.4rem;
  box-shadow:
    0 0.1rem 0.25rem theme.$shadow-color,
    inset 0 0 0.1rem theme.$shadow-color;
  transition:
    margin-left 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 200ms ease-in-out,
    box-shadow 200ms ease-in-out;
}

#Switch:checked slider,
.switch:checked slider,
.hypr-switch:checked slider {
  margin-left: 0.8rem;
  background-color: theme.$text;
  box-shadow:
    0 0 0.4rem theme.$selection-border,
    0 0.1rem 0.25rem theme.$shadow-color;
}

#Switch:checked:hover slider,
.switch:checked:hover slider,
.hypr-switch:checked:hover slider {
  box-shadow:
    0 0 0.5rem theme.$selection-border,
    0 0.15rem 0.35rem theme.$shadow-color;
}
