@use "theme";
@use "status_bar/bar";
@use "screen_menu";
@use "_my_corners";
@use "settings/settings";
@use "file_picker";
@use "_language_preview";
@use "switch";
@use "collapsible";
@use "combo_text";
@use "input";
@use "module_selector";
@use "popups";
@use "activate_linux";
@use "_day_info_desktop";
