.statusbar-screen-recorder
  background: #960000

  border-radius: 50px
  box-shadow: 0px 0px 1.5px 0px #ccc

.statusbar-screen-recorder.horizontal
  margin: 0px 15px
  min-width: 60px

  &:nth-child(2)
    padding: 0px 7px 0px 7px
    margin: 0px

.statusbar-screen-recorder.vertical
  margin: 10px 0px
  &:nth-child(2)
    padding: 0px 7px 10px 7px
    margin: 5px 0px

#screen-recording-icon
  margin: 0px 10px
  margin-right: 17px
  color: white

#statusbar-screen-recorder-indicator
  border-radius: 100px
  border: 0.2px solid black
  background: red
  min-width: 32px

#statusbar-screen-recorder-icon
  margin-left: 7px
  font-size: 18px
  color: white

#statusbar-screen-recorder-icon.mig
  color: white
