#statusbar-workspaces-container
  border-radius: 0px
  transition: 0.4s

#statusbar-workspaces-container button 
  color: #fff
  border: none
  background: none
  border-radius: 0px
  transition: 0.4s
  &:hover
    background: #1e1e2a

#statusbar-workspaces-container button:not(.empty) 
  transition: 0.4s
  border-bottom: 2px solid #fff

#statusbar-workspaces-container button.active 
  transition: .6s
  // transition: 0.2s
  border: 0px
  border-radius: 0px 
  background: #ffffff

#statusbar-workspaces-text button.active :nth-child(1)
  transition: 0.4s
  color: #000

#statusbar-workspaces-preview
  // background: none
  border-radius: 10px
  border: 0px
  margin: 0px
  box-shadow: 0px 0px 10px 0px white

#statusbar-workspaces-preview-image 
  padding:20px
  margin: 0px

