@use "../theme.scss";
#sm_section-config-container {
  font-weight: 500;
  letter-spacing: 0.1rem;
  background: theme.$base;
}
#sm_section-config-box {
  margin-left: 1rem;
  background: theme.$surface0;
  padding: 0.5rem 1.2rem;
  color: theme.$text;
  font-size: 1.1rem;
  border-radius: 0.1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.arrow-icon {
  color: theme.$text;
}
