@use "../../theme" as *;
#statusbar-systemmonitor {
  padding: 0 5px;
}

#cpu-icon,
#ram-icon {
  color: $text;
  font-size: 14px;
  margin-right: 5px;
  transition: 0.4s;
}

#disk-icon {
  color: $text;
  font-size: 14px;
  margin-right: 2px;
  transition: 0.4s;
}

#cpu-circle,
#ram-circle,
#disk-circle {
  color: $border;
  border: 3px solid $text;
  transition: 0.4s;
}
