@use "../../theme" as *;

#statusbar-system-tray {
  background: transparent;
}

.statusbar-system-tray-items {
  background: $base;
  color: $text;
  box-shadow: 0 0 0.4375rem 0 $shadow; // 7px -> 0.4375rem
  border: none;
  &:hover {
    background: $surf0;
  }
}

#statusbar-system-tray-button {
  background: $base;
  color: $text;
  box-shadow: 0 0 0.4375rem 0 $shadow; // 7px -> 0.4375rem
  border: none;

  margin: 0.1rem; // 4px -> 0.25rem
  padding: 0.1875rem 0.625rem; // 3px 10px -> 0.1875rem 0.625rem

  border-radius: 0.3125rem; // 5px -> 0.3125rem
  &:hover {
    background: $surf0;
  }
}

// .statusbar-system-tray-button-vertical {
//   // padding: 0.375rem 0.9375rem; // 6px 15px -> rem
// }

#statusbar-system-tray-box {
  background: $base;
  color: $text;
  border-radius: 0.5rem; // 8px -> 0.5rem
  border: 0.0625rem solid $border; // 1px -> 0.0625rem
  box-shadow: 0 0 0.4375rem 0 $shadow; // 7px -> 0.4375rem
  padding: 0.625rem; // 10px -> 0.625rem
  margin: 0.625rem; // 10px -> 0.625rem
}

#statusbar-system-tray-header {
  font-size: 1.2rem;
  font-weight: 500;
  color: $text;
  margin-bottom: 0.625rem; // 10px -> 0.625rem
  text-shadow: none;
}

#statusbar-system-tray-close {
  background: $red;
  color: $base;
  box-shadow: none;
  border: none;
  margin-left: 2.5rem; // 40px -> 2.5rem
  padding: 0;
  min-width: 1.5rem; // 24px -> 1.5rem
  min-height: 1.5rem; // 24px -> 1.5rem
  border-radius: 100%;
  text-shadow: none;
  &:hover {
    background: $surf0;
    color: $red;
  }
}
