@use "../../theme" as *;

#statusbar-workspaces-container {
  transition: 0.4s;
  padding: 0.3125rem 0.625rem; // 5px 10px
  margin: 0 0.625rem; // 0 10px
  border-radius: 0.5rem; // 8px
  background: $base;
  box-shadow: 0 0 0.4375rem $shadow; // 7px
}

#statusbar-workspaces {
  button {
    transition: 0.25s ease;
    padding: 0;
    margin: 0 0.125rem; // 0 2px

    min-width: 1.125rem; // 18px
    min-height: 0.3125rem; // 5px

    border: none;
    border-radius: 999px;

    color: $text;
    background: $surf2;
    box-shadow: none;

    &:hover {
      background: $surf1;
    }
  }
}

#statusbar-workspaces button.active {
  background: $btn-active;
  color: $base;
  border-radius: 0.625rem; // 10px
}

#statusbar-workspaces button.active {
  min-width: 3.5rem; // 56px
  min-height: 0.5rem; // 8px
}

.statusbar-workspaces-container-vertical {
  #statusbar-workspaces button.active {
    min-width: 1.125rem; // 18px
    min-height: 3.5rem; // 56px
  }
}

#statusbar-magic-workspace-button {
  border: none;
  background: none;
  box-shadow: none;

  padding: 0 0.125rem; // 0 2px
  margin: 0 0.125rem; // 0 2px
}

.statusbar-vertical #statusbar-workspaces-container {
  padding: 0.625rem 0.3125rem; // 10px 5px
  margin: 0.625rem 0; // 10px 0
}

.statusbar-horizontal #statusbar-workspaces-container {
  padding: 0.3125rem 0.625rem; // 5px 10px
  margin: 0 0.625rem; // 0 10px
}
