@use "../../theme" as *;

#statusbar-workspaces-preview {
  transition: 0.4s;
  background: $shadow;
  border: 0.0625rem solid $border; // 1px
  border-radius: 0.875rem; // 14px
  padding: 0.375rem; // 6px
}

#statusbar-workspaces-preview-image {
  transition: 0.4s;
  margin: 1.25rem; // 20px
  border-radius: 1.875rem; // 30px
}
