@use "../theme" as *;

entry {
  background: $surf2;
  color: $text;
  border: 1px solid $border;
  caret-color: transparent;
  border-radius: 0.5rem;
  padding: 0.1rem 1.2rem;
  box-shadow: 0px 0px 10px 0px $shadow;
}
