* {
  font-size: 16px;
  transition: 0.5s;
}
#player-hierarchy-popup {
  border-radius: 10px;
}

#player-popup-icon {
  padding: 10 0 0 0px;
}
#player-popup-current-select-icon {
  padding: 10 0 0 0px;
}

#player-popup-player-name {
  font-size: 14px;
  font-weight: 400;
}

#player-popup-current-select {
  font-size: 18px;
  font-weight: bolder;
}
#player-popup-current-select-title {
  font-size: 14px;
  font-weight: bolder;
  margin-top: 18px;
}

#player-popup-progress :nth-child(1) {
  padding: 10 20px;
  border-radius: 15px;
}
#player-popup-progress :nth-child(2) {
  padding: 4px;
  border-radius: 15px;
}

#player-popup-progress :nth-child(0) {
  padding: 10px;
}

#player-control {
  padding: 20px 40px;
}

#player-icon {
  font-size: 23px;
}
#player-card {
  border: rgba(255, 255, 255, 0.2) solid 0.5px;
  background: #1e1e2e;
  padding: 20px 30px;
  border-radius: 10px;
}
#player-popup-icon-container :nth-child(1) {
  /* background-color: #000; */
  font-size: 40px;
}

#player-popup-icon-container :nth-child(3) {
  /* background-color: #000; */
  font-size: 40px;
}
#player-popup-preview {
  border-radius: 40px;
}
player-popup-progressbar {
  padding: 10px;
}

#vertical-line {
  margin: 130 20px;
  border-right: rgba(255, 255, 255, 0.5) solid 1px;
}

#horizontal-line {
  min-height: 1px;
  margin: 0 90px;
  background: rgba(255, 255, 255, 0.5);
}

#player-popup-icon-container :nth-child(2) {
  /* background-color: #000; */
  font-size: 18px;
  font-weight: bolder;
}

#moon-bar {
  box-shadow: 0 0 10px #000;
  /* background: #1e1e2e; */
  background: transparent;
  /* border: #0054f0 solid 1px; */
}

#tray-box-container {
  border-radius: 8px;
}

#tray-box {
  padding: 10px;
}

#corner {
  background: #1e1e2e;
  border-radius: 0px;
}

#corner-container {
  min-width: 20px;
  min-height: 20px;
}

#button-corner {
  border-radius: 0px;
  min-width: 20px;
  min-height: 20px;
}

#bar-modules-start {
  border: solid 0.2px white;
  padding: 7px;
  margin: 5px 0;
  transition: 0.5s;
  margin-left: 10px;
  border-radius: 10px;
  /* background: rgba(0, 0, 0, 0.6);  */
  background-color: #1e1e2e;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12);
}

#bar-modules-center {
  border-radius: 0 0 30px 30px;
  /* min-width: 200px; */
  padding: 0 10px;
  background-color: #1e1e2e;
  transition: 0.4s;
  border-bottom: solid 0.2px white;
  /* border-left: solid 0.2px white; */
  /* border-right: solid 0.2px white; */
}

#bar-modules-end {
  border: solid 0.2px white;
  padding: 7px;
  margin: 5px 0;
  margin-right: 10px;
  transition: 0.5s;
  /* margin: 10px 10px 5px 0; */
  border-radius: 10px;
  /* background: rgba(0, 0, 0, 0.6);  */
  background-color: #1e1e2e;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12);
}

/* #corner-left, */
/* #corner-right { */
/*   position: relative; */
/*   border-radius: 20px; */
/*   background-color: #3498db; */
/* } */
/**/
/* #corner-left, */
/* #corner-right ::before { */
/*   content: ""; */
/*   position: absolute; */
/*   top: 10px; */
/*   left: 10px; */
/*   width: 50px; */
/*   height: 50px; */
/*   background-color: white; */
/*   border-radius: 50%; */
/* } */

/* * { */
/*   font-family: FiraCode nerd font; */
/*   font-size: 17px; */
/* } */

#workspaces-num button {
  color: white;
  padding: 1px 2px;
  /* font-size: 14px; */
  transition:
    background-color 0.3s ease,
    border-bottom-color 0.3s ease;
}

#workspaces-num button.buttons-workspace {
  background-color: #444;
  border-radius: 0px;
}

#workspaces-num button {
  border-radius: 0px;
}
/* #workspaces-num { */
/*   padding: 0 0 0 50; */
/* } */

#workspaces-num button:not(.empty) {
  /* font-weight: bold; */
  /* background-color: #8888ff; */
  border-bottom: 1px solid #fff; /* Черная линия */
}

#workspaces-num button.active {
  background-color: #888;
  border: none;
}

/* #workspaces button:nth-child(1):not(.empty) { */
/*   background-color: #ff5733; */
/* } */
/**/
/* #workspaces button:nth-child(2):not(.empty) { */
/*   background-color: #33ff57; */
/* } */
/**/
/* #workspaces button:nth-child(3):not(.empty) { */
/*   background-color: #3357ff; */
/* } */
#logo-label {
  font-size: 20px;
}
