#StatusBar {
  border-radius: 0;
  /* background: none; */
  /* border: #0054f0 solid 1px; */
}

* {
  font-family: FiraCode nerd font;
  font-size: 17px;
}

#workspaces-num button {
  color: white;
  padding: 2 4;
  /* font-size: 14px; */
  transition:
    background-color 0.3s ease,
    border-bottom-color 0.3s ease;
}

#workspaces-num button.buttons-workspace {
  background-color: #444;
  border-radius: 0px;
}

#workspaces-num button {
  border-radius: 0px;
}
/* #workspaces-num { */
/*   padding: 0 0 0 50; */
/* } */

#workspaces-num button:not(.empty) {
  /* font-weight: bold; */
  /* background-color: #8888ff; */
  border-bottom: 1px solid #fff; /* Черная линия */
}

#workspaces-num button.active {
  background-color: #888;
  border: none;
}

/* #workspaces button:nth-child(1):not(.empty) { */
/*   background-color: #ff5733; */
/* } */
/**/
/* #workspaces button:nth-child(2):not(.empty) { */
/*   background-color: #33ff57; */
/* } */
/**/
/* #workspaces button:nth-child(3):not(.empty) { */
/*   background-color: #3357ff; */
/* } */
#logo-label {
  font-size: 20px;
}
